FLEXPRICE_POSTGRES_DBNAME="<database_name>"
FLEXPRICE_POSTGRES_PASSWORD="<database_password>"
FLEXPRICE_POSTGRES_PORT="5432"
FLEXPRICE_POSTGRES_READER_HOST="<database_reader_host>"
FLEXPRICE_POSTGRES_SSLMODE="require"
FLEXPRICE_POSTGRES_USER="<database_user>"

FLEXPRICE_CLICKHOUSE_ADDRESS="<clickhouse_address>"
FLEXPRICE_CLICKHOUSE_PORT="9000"
FLEXPRICE_CLICKHOUSE_DATABASE="<database_name>"
FLEXPRICE_CLICKHOUSE_PASSWORD="<database_password>"
FLEXPRICE_CLICKHOUSE_USERNAME="<database_user>"