[Platform Owners] @aditya-raj @jenish.togadiya @yogesh-nachnani @semal-sherathia @srinivas-vangipuram
deploy/
.gitlab/

[Application Code] ## Add your codeowners here
* @pranav.n @noone @sovajit.roy @ravi_ujjwal
